<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http access-denied-page="/error.do">
        <form-login login-page="/login.do" default-target-url="/index.do"
                    authentication-failure-url="/login.do?error=true"/>
        <logout logout-url="/logout" logout-success-url="/index.do"/>

        <remember-me data-source-ref="dataSource" key="crypt" token-validity-seconds="20"/>
    </http>


    <!--<http auto-config="true" use-expressions="true">
        <intercept-url pattern="/view/admin/**" access="hasRole('0')"/>
        <form-login
                login-page="/login1.jsp"
                login-processing-url="/j_spring_security_check"
                authentication-failure-url="/login.html?error=true"
                username-parameter="j_username"
                password-parameter="j_password"/>
        <logout logout-success-url="/logout.do"/>
        <remember-me/>
    </http>-->

    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service id="detailsManager" data-source-ref="dataSource"
                               users-by-username-query="SELECT login, password,TRUE FROM clients WHERE login=?"
                               authorities-by-username-query="SELECT login, role FROM clients WHERE login=?"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>